:root{
    --primary1 : #010308;
    --dark1 : #12192c;
    --gray-1 : #a4b0be;
    --gray-2 : #ced6e0;
    --light-gray1 : #dfe4ea;
    --dark-gray1 : #021630;
    --accent1: #1e3799;
    --text-color : #17171d;
    --error1 : #fc5c65;
    --divider1 : #dfe4ea;
    --font-family1 : "Roboto", "sans-serif";
    --box-shadow2 : 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    --box-shadow1 : 6px 15px 15px 10px rgba(0,0,0,0.40); 
    --box-shadow3 : -1px 7px 15px -4px rgba(0,0,0,0.69);
    --white1 : white;
    --backgroundColor : #e7f7fc17;
    --backgroundColor2 : #f3f6f7a9; 
    --border : #1C6EA4;
}